soap2soap/src/test/resources/innerservice.wsdl

<definitions name='EchoService' 
	targetNamespace='http://echo.example.com/' 
	xmlns='http://schemas.xmlsoap.org/wsdl/' 
	xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' 
	xmlns:tns='http://echo.example.com/' 
	xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://echo.example.com/' version='1.0' xmlns:tns='http://echo.example.com/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='echo' type='tns:echo'/>
   <xs:element name='echoResponse' type='tns:echoResponse'/>
   <xs:complexType name='echo'>
    <xs:sequence>
     <xs:element minOccurs='0' name='arg0' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='echoResponse'>
    <xs:sequence>
     <xs:element minOccurs='0' name='return' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
  </xs:schema>
 </types>
 <message name='Echo_echo'>
  <part element='tns:echo' name='echo'></part>
 </message>
 <message name='Echo_echoResponse'>
  <part element='tns:echoResponse' name='echoResponse'></part>
 </message>
 <portType name='Echo'>
  <operation name='echo' parameterOrder='echo'>
   <input message='tns:Echo_echo'></input>
   <output message='tns:Echo_echoResponse'></output>
  </operation>
 </portType>
 <binding name='EchoBinding' type='tns:Echo'>
  <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='echo'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body use='literal'/>
   </input>
   <output>
    <soap:body use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='EchoImplService'>
  <port binding='tns:EchoBinding' name='EchoImplPort'>
   <soap:address location='http://temp.uri/EchoImpl'/>
  </port>
 </service>
</definitions>